---
import Image1 from '../../assets/images/class-1.png';
import Image2 from '../../assets/images/class-2.png';
import Image3 from '../../assets/images/class-3.png';
import Image4 from '../../assets/images/class-4.png';

const images = [
    {src: Image1.src, alt: 'Image 1'},
    {src: Image2.src, alt: 'Image 2'},
    {src: Image3.src, alt: 'Image 3'},
    {src: Image4.src, alt: 'Image 4'}
]
---
<div class="container">
    <h4>热门分类</h4>
    <ul>
        {
            images.map((image,index) => (
                    <li key={index}><img src={image.src} alt={image.alt} /></li>
            ))
        }
    </ul>
</div>

<style>
    .container {
        padding: 20px 0;
        width: 1440px;
        margin: 0 auto;
        h4{
            margin-left: 40px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                cursor: pointer;
            }
        }
    }
</style>