---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<link rel="stylesheet" href="//at.alicdn.com/t/c/font_4964805_jn9mp6c03.css">
<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">首页</HeaderLink>
			<HeaderLink href="/blog">文章</HeaderLink>
			<HeaderLink href="/classify">分类</HeaderLink>
			<HeaderLink href="/about">关于</HeaderLink>
		</div>
		<div class="right-box">
			<div class="input-box">
				<span class="icon iconfont icon-search"></span>
				<input type="text" placeholder="搜索文章" />
			</div>
			<button class="wirte-btn">写文章</button>
		</div>
	</nav>
</header>
<style lang="less">
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		.internal-links{
			display: flex;
		}
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: #374151;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.right-box{
		display: flex;
		.input-box{
			height: 38px;
			border: 1px solid #E5E7EB;
			display: flex;
			align-items: center;
			.icon{
				margin: 0 0.5rem;
			}
			input{
				height: 38px;
				box-sizing: border-box;
				outline: none;
				color: #9CA3AF;
				border: none;
			}
		}
		.wirte-btn{
			margin-left: 20px;
			background: #3B82F6;
			color: white;
			border-radius: 4px;
			border: none;
			width: 74px;
			height: 36px;
		}
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
